body {
    background: linear-gradient(90deg, #FFB22C, #FFDE4D);
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 120px;
    height: 120px;
}

p {
    margin: 0;
}

.options, .result {
    margin-top: 50px;
}

.options > button {
    cursor: pointer;
    width: 120px;
    height: 120px;
    background-color: white; 
    text-align: center; 
    padding: 0;
    border: 0;
}

.options > button:hover {
    border-radius: 50%;
    background-color:#FFDE4D;
}

.options > button:active {
    background-color:#d29122;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 50vh;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 37.5%;
    padding: 20px;
    box-shadow: 0 0 12px black;
    border-radius: 24px;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 20px;
    flex-wrap: nowrap;
}

.scoreboard, .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-medias-images {
    width: 50px;
    height: 50px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100vh;
    background-color: #821131;
    border-top: 4px solid #FF4C4C;
}

.footer p {
    font-size: 18px;
    margin: 0;
    color: #FFFFFF;
    margin-top: 12px;
}

.footer a {
    color: #FFDE4D;
}

.footer a:hover {
    color: #d29122;
    text-shadow: 0 0 1px black;
}

.footer a:active {
    color: #FF4C4C;
}

#title {
    border: 1px solid gray;
    padding: 12px;
    border-radius: 20px;
    color: #FF4C4C;
}

#player-score, #computer-score {
    font-weight: bolder;
}

#winner-message {
    font-size: 32px;
    font-weight: bolder;
}

#reset-game-btn {
    display: none;
    margin-top: 64px;
    padding: 20px;
    border: 0;
    border-radius: 20px;
    background-color: #FFB22C;
    color: white;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 24px;
}

#reset-game-btn:hover {
    background-color: #d29122;
    cursor: pointer;
}

#reset-game-btn:active {
    background-color: #ddb166;
}

@media(max-width: 688px) {
    .container {
        justify-content: space-evenly;
    }

    .scoreboard p {
        font-size: 14px;
    }

    .options button, .options img {
        width: 60px;
        height: 60px;
    }

    .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    #title, #winner-message, #result-message, #reset-game-btn {
        font-size: 16px;
        text-align: center;
    }
}
